<section>
  <h2>Fieldset Example</h2>
  <form class="form">
    <fieldset>
      <legend>Fieldset Legend</legend>
        <label for="preview_name">Simple Input</label>
        <input id="preview_name" type="text">
    </fieldset>
  </form>
</section>
    
<section>
  <h2>Available Form Inputs</h2>
  <div class="control_group">
    <div class="control-label">
      <label for="preview_name">Name and surname</label>
    </div>
    <div class="control-input">
      <input id="preview_name" type="text">
      <span class="input-hint">The length should be between 1-50 characters.</span>
    </div>
  </div>
  <div class="control_group">
    <div class="control-label input-help">
      <i>?</i>
      <label for="preview_login">Login name</label>
      <span>You can fill in your own login name, otherwise your <nobr>e-mail</nobr> will be used as a login information.</span>
    </div>
    <div class="control-input">
      <input id="preview_login" type="text">
      <span class="input-hint">The length should be between 1-15 characters.</span>
    </div>
  </div>
  <div class="control-group required">
    <div class="control-label">
      <label for="preview_email">E-mail</label>
    </div>
    <div class="control-input">
      <input id="preview_email" required="required" type="email">
    </div>
  </div>
  <div class="control-group required">
    <div class="control-label">
      <label for="preview_password">Password</label>
    </div>
    <div class="control-input">
      <input id="preview_password" required="required" type="password">
      <span class="input-hint">You need to use at least one capital letter, one digit and one special character (such as "." "," "_" "-"). The length should be between 1-15 characters.</span>
    </div>
  </div>
  <div class="control-group required">
    <div class="control-label">
      <label for="preview_password_confirm">Password confirmation</label>
    </div>
    <div class="control-input">
      <input id="preview_password_confirm" required="required" type="password">
      <span class="input-hint">Please re-type your password.</span>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <label for="info-label">Info Label</label>
    </div>
    <div class="control-input">
      <span class="informative">Please re-type your password.</span>
    </div>
  </div>
  <div class="control_group">
    <div class="control-label">
      <label for="preview_name">Super Long Label To Demonstrate What Happens</label>
    </div>
    <div class="control-input">
      <input id="preview_name" type="text">
      <span class="input-hint">The length should be between 1-50 characters.</span>
    </div>
  </div>
  <div class="control-group buttons">
    <div class="control-label"></div>
    <div class="control-input">
      <input class="btn primary" type="submit" value="Save">
      <a class="btn" href="#">
        Cancel
      </a>
    </div>
  </div>
</section>
